*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Kafka
logs/*
/bin/

#eclipse specific
.cache-main
.cache-tests
.classpath
.project
.settings
