<?xml version="1.0"?>
<!--
  The `PatternLayout` documentation of logback explains how you can customize the encoder patterns below.
  See http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout
-->
<configuration scan="true" scanPeriod="60 seconds">
 <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %c [%p] %m%n</pattern>
    </encoder>
 </appender>

 <appender name="ACCESS" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %c [%p] %m%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="A1"/>
  </root>
  
  <!--
  Some of our integration tests will always trigger the following error message, hence we squelch kafka.network.Processor by default:
  
    ERROR [kafka-processor-9092-2] Closing socket for /127.0.0.1 because of error (kafka.network.Processor)
    java.io.IOException: Connection reset by peer
  -->
  <logger name="kafka.network.Processor" additivity="false" >
    <level value="OFF" />
    <appender-ref ref="ACCESS" />
  </logger>
  
  <logger name="org.apache.zookeeper.server.NIOServerCnxnFactory" additivity="false" >
    <level value="OFF"/>
    <appender-ref ref="ACCESS"/>
  </logger>

</configuration>
